<!--Userinfoの作成-->
<div class="container mt-3 px-0">
  <div class="row">
     <!--部分テンプレートの作成-->
    <%= render '/books/sideber', book: @book, user: @user %>

 <!--ユーザー一覧の作成-->
    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>
      <%= link_to 'グループを作成する', new_group_path %>｜<%= link_to 'グループ一覧', groups_path %>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
           <th>image</th>
           <th>name</th>
           <th></th>
           <th></th>
           <th></th>
           <th></th>
          </tr>
        </thead>

        <tbody>
         <% @users.each do |user| %>
          <tr>
           <td><%= image_tag user.get_profile_image(100, 100) %></td>
           <td><%= user.name %></td>
           <td>フォロー数：<%= user.followings.count %></td>
           <td>フォロワー数：<%= user.followers.count %></td>
           <td>
            <% if user.is_followed_by?(current_user) %>
             <%= link_to 'フォローを外す', user_relationships_path(user.id), method: :delete %>
            <% else %>
             <%= link_to 'フォローする', user_relationships_path(user.id), method: :post %>
            <% end %>
           </td>
           <td><%= link_to 'Show', user_path(user.id) %></td>
          </tr>
         <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
