<div class="col-md-3">
  <h2>User info</h2>
    <%= image_tag user.get_profile_image(100, 100) %>
   <table class="mb-4 col-12">
    <tbody>
     <tr class="border-top">
      <th class="p-3">name</th>
      <th><%= user.name %></th>
     </tr>

     <tr class="border-top">
      <th class="p-3">introduction</th>
      <th><%= user.introduction %></th>
     </tr>

     <tr class="border-top">
      <th class="p-3">follows</th>
      <th><%= user.followings.count %></th>
     </tr>

      <tr class="border-top">
       <th class="p-3">followers</th>
       <th><%= user.followers.count %></th>
     </tr>

    </tbody>
   </table>
   <% if user.name != "guestuser" %>
    <div class="row">
     <%= link_to(edit_user_path(user.id), class: 'btn btn-outline-secondary btn-block') do %>
       <i class="fas fa-user-cog"></i>
     <% end %>
    <% end %>
    </div>

    <div class="row mt-3">
     <% if user.is_followed_by?(current_user) %>
      <%= link_to 'フォロー外す', user_relationships_path(user.id), method: :delete, class: 'btn btn-danger' %>

      <% unless user.id == current_user.id %>
      <% if (current_user.is_followed_by? user) && (user.is_followed_by? current_user) %>
      <% if isRoom == true %>
       <%= link_to 'チャットへ', room_path(roomId), class: 'btn btn-primary btn-lg' %>
       <!--<p class="user-show-room"><a href="/rooms/<%#= roomId %>" class="btn btn-primary btn-lg">チャットへ</a></p>-->
      <% else %>
       <%= form_for room do |f| %>
        <%= fields_for entry do |e| %>
         <%= e.hidden_field :user_id, value: user.id %>
        <% end %>
        <%= f.submit "チャットを始める", class: "btn btn-primary btn-lg user-show-chat" %>
       <% end %>
      <% end %>
      <% end %>
     <% end %>

     <% else %>
      <%= link_to 'フォローする', user_relationships_path(user.id), method: :post, class: 'btn btn-info' %>
     <% end %>
    </div>


    <!--新規投稿フォームの作成-->
    <%= form_with model: book, url: books_path, method: :post do |f| %>
    <!-- @book → book -->
     <h2 class="mt-3">New book</h2>
      <div class="book_group mb-3">
       <div class="book_title mb-2">Title</div>
         <%= f.text_field :title, class: 'border border-1 rounded col-12 form-control' %>
      </div>
      <div class="book_group mb-3">
       <div class="book_opinion mb-2">Opinion</div>
        <%= f.text_area :body, class: 'border border-1 rounded col-12 form-control' %>
       </div>

       <!--タグ機能-->
       <div class="book_group mb-3">
        <div class="book_tag mb-2">Tag</div>
         <%= f.text_field :tag_list, value: book.tag_list.join(',')  ,class: 'border border-1 rounded col-12 form-control' %>
       </div>

             <!--星レビューフォームの作成-->
       <div class ="star-review mb-2" id="post_raty">
        <%= f.label :star %>
       </div>

       <script>
         // scriptファイルをどのidの部分に配置するかを指定
         let elem = document.querySelector('#post_raty');
         let opt = {
           size :38,
           starOff: '<%= asset_path('star-off.png') %>',
           starOn: '<%= asset_path('star-on.png') %>',
           scoreName: 'book[star]',
           half: false
          };
         raty(elem,opt);
       </script>

       <%= f.submit 'Create Book', class: 'btn btn-success' %>

     <% end %>



</div>