<!--Userinfoの作成-->
<div class="container mt-3 px-0">
    <% if @book.errors.any? %>
      <h3><%= @book.errors.count %> error prohibited this obj from being saved:</h3>
      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
     <% end %>
  <div class="row">

     <!--部分テンプレートの作成-->
    <%= render 'sideber', book: @book, user: @user %>
    <!--投稿一覧の作成-->
    <div class="col-md-8 offset-md-1">

     <%= render 'tags/search', book: @book %>

      <h2>Books</h2>
      <%= link_to '新しい順', books_path(latest: "true") %>｜<%= link_to '評価の高い順', books_path(star_count: "true") %>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
           <th></th>
           <th>Title</th>
           <th>Opinion</th>
           <th>Tag</th>
           <th></th>
           <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
         <%= render 'index', books: @books, book_detail: @book_detail %>
        </tbody>
      </table>

      <h2>投稿数の前日比・前週比</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>今日の投稿数</th>
            <th>前日の投稿数</th>
            <th>前日比</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @today_books.count %></td>
            <td><%= @yesterday_books.count %></td>
            <% if @yesterday_books.count == 0 %>
             <td>前日の投稿なし</td>
            <% else %>
             <td><% @the_day_before = @today_books.count / @yesterday_books.count.to_f %>
                 <%= (@the_day_before * 100).round %>%</td>
            <% end %>
          </tr>
        </tbody>
      </table>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>今週の投稿数</th>
            <th>先週の投稿数</th>
            <th>前週比</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @this_week_books.count %></td>
            <td><%= @last_week_books.count %></td>
            <% if @last_week_books.count == 0 %>
             <td>前週の投稿なし</td>
            <% else %>
             <td><% @the_week_before = @this_week_books.count / @last_week_books.count.to_f %>
                 <%= (@the_week_before * 100).round %>%</td>
            <% end %>
          </tr>
        </tbody>
      </table>

      <h2>7日間分の投稿数</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>6日前</th>
            <th>5日前</th>
            <th>4日前</th>
            <th>3日前</th>
            <th>2日前</th>
            <th>1日前</th>
            <th>今日</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @days6_ago_books.count %></td>
            <td><%= @days5_ago_books.count %></td>
            <td><%= @days4_ago_books.count %></td>
            <td><%= @days3_ago_books.count %></td>
            <td><%= @days2_ago_books.count %></td>
            <td><%= @yesterday_books.count %></td>
            <td><%= @today_books.count %></td>
          </tr>
        </tbody>
      </table>

      <div>
        <canvas id="myChart"></canvas>
      </div>

      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

      <script>
        const ctx = document.getElementById('myChart');

        new Chart(ctx, {
          type: 'line',
          data: {
            labels: ['6日前', '5日前', '4日前', '3日前', '2日前', '1日前', '今日'],
            datasets: [{
              label: '投稿した本の数',
              data: [<%= @days6_ago_books.count %>, <%= @days5_ago_books.count %>, <%= @days4_ago_books.count %>, <%= @days3_ago_books.count %>, <%= @days2_ago_books.count %>, <%= @yesterday_books.count %>, <%= @today_books.count %>],
              borderWidth: 2
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
       </script>

    </div>
  </div>
</div>














