<div class="container mt-3">
 <div class="row">
<!--部分テンプレートの作成-->
<%= render 'sideber', book: @book_new, user: @user %>

<!--詳細画面の作成-->
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table font-small">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@user.id) do %>
               <%= image_tag @book.user.get_profile_image(100, 100) %><br><%= @book.user.name %>
              <% end %>
            </td>
            <td><%= link_to @book.title,  book_path(@book.id) %></td>
            <td><%= @book.body %></td>
            <td>閲覧数<%= @book.view_counts.count %></td>
            <td>
              <% if @book.user == current_user %>
               <%= link_to 'Edit', edit_book_path(@book.id), class: 'btn btn-success btn-sm'%>
              <% end %>
            </td>
            <td>
              <% if @book.user == current_user %>
               <%= link_to 'Destroy', book_path(@book.id), method: :delete,  "data-confirm" => "本当に消しますか?", class: 'btn btn-danger btn-sm' %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
